@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

input{
  color:black;
}


/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
.modal {
  z-index: 1;
  position: relative;
  bottom:75px;
  display: none;
  flex-shrink: 10;
}
.modal-open {
  pointer-events: auto;
  bottom:90px;
  position: relative;
  display: initial;
}

.modal-box{
color:green;
}

.card{
  /* display: flex;
  flex-direction: column; */
  display: flex;
  flex-direction: column;
  border:1px solid white;
  padding: 1em;
}
/* .card-body{
} */

.icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border:1px solid white;

}
.modalBody{
  flex-direction: column;
background-color: white;
color:black;
}
/* .deleteBox{

} */